* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
}
/* Common */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 22px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 999px;
  text-align: center;
}
.btn:hover {
  opacity: 0.85;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
/* Header */
.header {
  background: var(--header-bg);
  min-height: 100vh;
  padding-top: 30px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__link,
.header__action--login {
  color: #c9d2da;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
  font-weight: 300;
  padding: 8px 21px;
}

.nav__link:hover,
.nav__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.nav__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  right: 8px;
  top: -2px;
}

.header__action--signup {
  min-width: 104px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 7px;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  padding: 76px 0 110px;
}
.hero__content {
  width: 44%;
}

.hero__media {
  flex: 1;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}

.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin-top: 22px;
  width: 468px;
}

.hero__row {
  display: flex;
  align-items: center;
  margin-top: 38px;
  column-gap: 38px;
}

.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  text-align: center;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__img {
  object-fit: cover;
  border-radius: 6px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.hero__img-big {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}

.hero__img-small {
  width: 210px;
  height: 410px;
}
/* Serivce */
.service {
  padding-top: 170px;
  background-color: #fff;
}

.service__heading {
  text-align: center;
}

.service__desc {
  text-align: center;
  margin: 18px auto 0;
  width: 468px;
}

.service__row {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
  align-items: center;
}

.service__row--img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}
.service__item {
  display: flex;
  width: 470px;
  border-radius: 10px;
  background: #fff;
  padding: 21px;
  transition: 0.2s;
}

.service__item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service__item:hover .service__item--icon{
  color: #fff;
  background-color: #2e80ce;
}

.service__item--icon {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 19px;
  transition: 0.2s;
}


.service__item--heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}

.section__item--desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */

}

.service__btn{
  margin-top: 55px;
}